<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatetest</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<!-- Hibernate 关于mysql的方言一定是MySQL5InnoDBDialect，因为这可以是最新的mysql，另外hibernate需要数据库支持事物 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">20</property>
		<property name="hibernate.c3p0.idle_test_period">2000</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.max_statements">10</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">2000</property>

		<property name="hibernate.jdbc.batch_size">30</property>
		<property name="hibernate.jdbc.fetch_size">100</property>
		
		<mapping class="com.citi.hibernate.model.Student"/>
		<mapping class="com.citi.hibernate.model.Teacher"/>
	</session-factory>
</hibernate-configuration>
